@font-face {
    src: url(/assets/fonts/aniron/anirb___.ttf);
    font-family: "ani";
    text-align: center;
}

@font-face {
    src: url(/assets/fonts/ringbearer/RINGM___.TTF);
    font-family: "ring-bearer";
    font-size: 70px;
    text-align: center;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp1859697.jpg");
    height: auto;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transition: all 0.3s;
    word-wrap: break-word;
    /* border: 1px solid black; */
}

header {
    /* position: static; */
    font-family: "ring-bearer";
    font-size: 60px;
    /* text-align: center; */
    color: gold;
    margin: 0 auto;
    background: none;
}

img {
    width: 300px;
    height: 300px;
}

p {
    font-size: 12px;
    padding: 15px 5px;
}

#directions {
    font-size: 26px;
}

.card {
    display: inline-block;
    /* position: relative; */
    margin: 15px 15px;
    padding: 10px;
    width: 45%;
    background: none;
}

.container {
    font-family: "ani";
    text-align: center;
    background: goldenrod;
    opacity: 0.8;
    filter: alpha(opacity=60);
    font-size-adjust: 12px;
    padding: 30px;
    max-width: 900px;
    height: 600px;
    overflow: auto;
}

.jumbotron {
    background: none;
}